<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background-color: #ffffff;
        }
        .blink {
            animation: blink 1s infinite;
        }
        @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        }        
    </style>
</head>
<body>
    <div style="height: 60px;"></div>
    <div class="footer text-center sticky">
        Made with <span class="blink">❤️</span> by 
        <a href="http://localhost:3000/articles/profile"> Pritam</a>. ☮
    </div>
</body>
</html>